{{ define "main" }}
<div class="separator"></div>

<main class="container">
  <h2 class="page-heading">{{ .Title }}</h2>
  <p class="page-description">{{ .Description }}</p>
  <div class="row">
    {{ range .Data.Pages }}
      {{ if in .Params.categories "contingent" }}
        <div class="col-md-6 col-lg-4">
          <div class="card mb-4 shadow-sm">
            {{ with .Params.image }}
              <img class="card-img-top" src="{{ . }}" alt="{{ .Alt }}" />
            {{ end }}
            <div class="card-body">
              <h2 class="card-title">{{ .Title }}</h2>
              <p class="card-text">{{ .Summary }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ .Date.Format "January 2, 2006" }}</small>
                <a href="{{ .Permalink }}">Read more</a>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}
  </div>
</main>
<div class="separator"></div>
{{ end }}
